.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-dark {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    background-color: rgba(255,255,255,0.4);
}


body {
    color: #5a5a5a;
    font-family: "Helvetica Neue";
    height: 100%;
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #111E6C;
    text-align: left;
    background-color: #fff;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

    .container p {
        color: #020529;
        padding-top: 5px;
        font-size: 10px;
        position: relative;
    }

    .container .navbar-brand img {
        height: 60px;
    }

    .container .nav-item {
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 0.05em !important;
        text-decoration: none;
        line-height: 1em;
        color: #A22631;
        letter-spacing: .1em;
    }

.nav > li > a:hover, .nav > li > a:focus {
    color: #111E6C;
    background-color: transparent !important;
}

.nav > li > a:active {
    color: #111E6C;
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
}

.section1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
}

.section2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.full {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%
}

.back {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.back-image {
    width: 100%;
    height: 100%;
}

.head {
    position: relative !important;
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-weight: 200 !important;
    line-height: 1.35em !important;
    width: 100%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}

.title-line h1{
    margin-bottom:1px;
}

.head h5 {
    padding-top: 10px;
}

.subhead1 {
    position: relative !important;
    /* top: 65% !important; */
    /* left: 50% !important; */
    /* transform: translate(-50%, -50%) !important; */
    width: 100%;
    /* padding-bottom: 40px; */
    flex: 1;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
}

    .subhead1 h4 {
        font-size: 27px;
    }

.head h5 {
    font-size: 18px;
}

.title-line::after {
    background: #A22631;
    content: "";
    left: 48%;
    margin-left: -25px;
    height: 2px;
    position: absolute;
    width: 90px;


}

.title-line h1 {
    width: fit-content;
    box-shadow: 6px 8px 8px 6px rgba(0,0,0,0.2);
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}

.layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    /*  background-color: rgba(255,255,255,0.4);*/
}


    .layer h5 {
        position: relative !important;
        top: 38% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        font-weight: 200 !important;
        line-height: 1.35em !important;
        width: fit-content;
        font-size: 20px;
        box-shadow: 6px 8px 8px 6px rgba(0,0,0,0.2);
    }

.part {
    position: relative !important;
    top: 47% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-weight: 200 !important;
    line-height: 1.35em !important;
    width: 100%;
    /* display: flex; */
}
.left h4 {
    width: fit-content;
    /* margin: 0 auto; */
    padding: 10px;
    /*   box-shadow: 6px 8px 8px 6px rgba(0,0,0,0.2);
        background-color: rgba(255,255,255,.3); */
    /* left: 10% !important; */
    border-radius: 10px;
    display: inline-block;
    /* box-shadow: 6px 8px 8px 6px rgba(0,0,0,0.2); */
    /* margin: 0 auto; */
    padding: 10px;
    /* background-color: rgba(255,255,255,.3); */
    border-radius: 10px;
    /* margin-left: 65%; */
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

.left1 h4 {
    width: fit-content;
    /* margin: 0 auto; */
    padding: 10px;
    /*   box-shadow: 6px 8px 8px 6px rgba(0,0,0,0.2);
        background-color: rgba(255,255,255,.3); */
    /* left: 10% !important; */
    /* margin: 40px; */
    border-radius: 10px;
    /* margin-left: 40%; */
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

.left2 {
    display: inline-block;
    flex: 1;
    padding: 0px 20px;
}
.left1 {
    display: inline-block;
    flex: 1;
    padding: 0px 20px;
}
.left {
    display: inline-block;
    flex: 1;
    padding: 0px 20px;
}

.left2 h4 {
    width: fit-content;
    /* margin: 0 auto; */
    padding: 10px;
    /*   box-shadow: 6px 8px 8px 6px rgba(0,0,0,0.2);
        background-color: rgba(255,255,255,.3); */
    /* left: 10% !important; */
    /* margin: 40px; */
    border-radius: 10px;
    /* margin-left: 65%; */
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    /* padding: 0px 10px; */
}
.title-line1::after {
    background: #A22631;
    content: "";
    left: 45%;
    /* margin-left: -25px; */
    height: 1px;
    position: absolute;
    width: 90px;
    /* top: 55px; */
    bottom: 0;
}

.subhead2 {
    position: relative !important;
    /* top: 65% !important; */
    /* left: 50% !important; */
    /* transform: translate(-50%, -50%) !important; */
    font-weight: 400 !important;
    font-size: 14px !important;
    width: fit-content;
    flex: 1;
    display: inline-block;
}

.search {
    position: relative !important;
    /* top: 65% !important; */
    /* left: 50% !important; */
    /* transform: translate(-50%, -50%) !important; */
    /* font-weight: 400 !important; */
    /* font-size: 14px !important; */
    width: fit-content;
    display: inline-block;
    flex: 1;
    /* padding: 40px 40px 40px 0px; */
    width: fit-content;
    box-shadow: 6px 8px 8px 6px rgba(0,0,0,0.2);
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
    /* background-color: rgba(255,255,255,.3); */
    /* left: 10% !important; */
    /* margin: 40px; */
    border-radius: 10px;
    /* margin-right: 30%; */
    /* display: flex; */
}


form{
    display:flex;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.search .button {
    position: relative;
    float: none;
    overflow: hidden;
    font-size: 18px;
    margin: 0 !important;
    z-index: 1;
    color: #ffd699;
    text-shadow: none;
    background: #A22631;
    border: 0;
    /* background: none; */
    /* box-shadow: none; */
    /* border-radius: 0px; */
    outline: none;
    /* right: 6px; */
    /* top: 27.5px; */
    display: inline-block;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #a22631;
    /* padding-left: 15px; */
}

    .search .button:hover {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
        background: transparent;
     border: 1px solid #a22631;
        color: #a22631;
    }
#category_chosen.chosen-container.chosen-container-single {
    /* width: 300px; */
    padding-right: 10px;
}


.icon-search {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: #111E6C;
}

    .icon-search:hover {
        color: #A22631;
    }

.icon-mail {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    stroke-width: 0;
    stroke: #CE3E2D;
    fill: #CE3E2D;
    transition: all .3s ease-in-out;
}

.icon-linkedin {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    stroke-width: 0;
    stroke: #0077B5;
    fill: #0077B5;
    transition: all .3s ease-in-out;
}

input[name="occ"] {
    border: 1.35px solid #A22631;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    padding: 5px;
    height: 33px;
    width: 450px;
    background: transparent;
    outline: #A22631;
}



input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

    input[type=text]:focus, textarea:focus {
        box-shadow: 0 0 10px #A22631;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #A22631;
    }

#hover-content {
    display: none;
}

::placeholder {
    color: #111E6C;
    opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #111E6C;
    opacity: 0.7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #111E6C;
    opacity: 0.7;
}

.icon.icon-tree {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    color: #a22631;
    fill: currentColor;
}

.icon.icon-stats-bars {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    color: #a22631;
    fill: currentColor;
}

.icon.icon-stack {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    color: #a22631;
    fill: currentColor;
}

.eg {
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.sidebar {
    width: 300px;
    float: left;
    position: fixed;
    width: 35px;
    float: left;
    border: 2px solid transparent;
    height: 90px;
    z-index: 1030;
    background-color: transparent;
    margin-left: 2.5%;
    border-radius: 20px;
    top: 45%;
    outline: none;
}

.icon.icon-search {
    position: absolute;
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: #111E6C;
    top: 20px;
    left : 32px;
}