footer {
    background: #A22631 !important;
    color: white;
    line-height: 30px;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.footer {
    margin-top: -30px;
}

.foot {
    padding-top: 295px;
}

.footer p {
    margin-bottom: 0px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding-top: 1.5px;
}

    .icon:hover {
        color: #A22631;
    }

button {
    background-color: transparent !important;
    text-shadow: none;
    background: 0 0;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    margin: 0 !important;
    padding: 1px 0px;
}

.fixed-top {
    /*position: fixed;*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-dark {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}


body {
    padding-top: 0px !important;
    color: #5a5a5a;
    font-family: 'PT Sans', sans-serif !important;
    height: 100%;
    
}

body {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #111E6C;
    text-align: left;
    background-color: #fff;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.container p {
    color: #020529;
    padding-top: 5px;
    font-size: 10px;
    position: relative;
}

.container .navbar-brand img {
    height: 60px;
}

.container .nav-item {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.05em !important;
    text-decoration: none;
    line-height: 1em;
    color: #A22631;
    letter-spacing: .1em;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #111E6C;
    background-color: transparent !important;
}

.nav > li > a:active {
    color: #111E6C;
}


.full {
    margin-top: 120px;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.selection {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 10px;
}
.mid{
    position: relative;
}

.headme {
    width:100%;
    height: auto;
    position: relative;
}
  .headme h1 {
        padding-left: 20px;
        font-weight:bold;
    }

.headme h2 {
    padding-left: 20px;
}

.cbut {
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 900px;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    
}

.pull-right {
    position: relative;
    font-size: 14px;
}

input {
    padding: 5px 5px;
    width: 80%;
    height: auto;
    font-size:20px;
}



.mid label {
    padding: 20px 20px;
    font-size: 22px;
    
}

input.but {
    width: 15%;
    height: auto;
    font-weight:bold;
    font-size: 20px;
}

.suggestion{
    color: chartreuse;
}